:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121214;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  display: flex;
  width: 180px;
  height: 32px;
  border-radius: 6px;
  padding: 0 12px;
  border: none;
  outline: none;
  background-color: #202024;
}

#app {
  width: 100vw;
  display: flex;
  flex: 1 1 100vw;
}

.mf-drawer {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to top, #28004f, #4e0083);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 250px;
  min-height: 100vh;
}

.mf-drawer ul,
.sheet-drawer-content ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.mf-drawer ul li:nth-child(1),
.sheet-drawer-content ul li:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mf-drawer ul li:nth-child(2),
.sheet-drawer-content ul li:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mf-drawer ul li:nth-child(2) .link-videos,
.sheet-drawer-content ul li:nth-child(2) .link-videos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mf-drawer ul li .link-videos a,
.mf-drawer ul li a {
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.sheet-drawer-content ul li .link-videos a,
.sheet-drawer-content ul li a {
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.mf-drawer ul li .link-videos a:hover,
.mf-drawer ul li a:hover {
  color: #f88b0c;
}

.sheet-drawer-content ul li .link-videos a:hover,
.sheet-drawer-content ul li a:hover {
  color: #f88b0c;
}

.mf-drawer i,
.sheet-drawer-content i {
  font-size: 22px;
}

.mf-drawer ul li h2,
.sheet-drawer-content ul li h2 {
  font-size: 18px;
  color: #f88b0c;
}

.mf-videos {
  display: flex;
  flex-direction: column;
  flex: 1 1 100vw;
}

.mf-videos header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: #4e0083;
  border-bottom-style: solid;
  padding: 16px;
}

.mf-videos header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mf-videos header button i {
  font-size: 32px;
}

.mf-videos .video-list,
.mf-videos .favs-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 1rem;
}

.video-item {
  border-radius: 8px;
  background-color: #202024;
  flex: 1 1 226px;
  padding: 1rem;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-item .card-footer h1 {
  font-size: 14px;
}

.video-item .card-footer i {
  font-size: 22px;
}

.video-item .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-item .thumbnails-content {
  border-radius: 8px;
  width: 100%;
  height: 150px;
  position: relative;
  cursor: pointer;
}

.video-item .thumbnails-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video-item .thumbnails-content i {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #c4302b;
}

.sheet-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: end;
}

.sheet-drawer .sheet-drawer-content {
  background: linear-gradient(to top, #28004f, #4e0083);
  animation: drawer 0.7s ease;
  width: 50%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-content {
  position: relative;
}

.search-content .btn-search {
  position: absolute;
  right: 1px;
  top: 5px;
}

.search-content .btn-search i {
  font-size: 20px;
}

@media (min-width: 768px) {
  input {
    width: 400px;
  }
  .mf-videos .video-list,
  .mf-videos .favs-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .mf-videos header {
    padding: 4px 16px;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 20px;
  }
  .mf-drawer {
    display: flex;
  }
  .mf-videos .video-list,
  .mf-videos .favs-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .drawer-menu,
  .btn-drawer-menu {
    display: none;
  }

  .video-item .card-footer h1 {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .mf-videos .video-list,
  .mf-videos .favs-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes drawer {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
